<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <servicename>OTX</servicename>
    <otxpath>/var/www/OTX/</otxpath>
    <cachepath>/var/www/CACHE/</cachepath>
    <soffice>
        <officepath>/usr/bin/libreoffice</officepath>
    </soffice>
    <db>
        <dsn>mysql:host=localhost;dbname=opentext</dsn>
        <user>username</user>
        <password>password</password>
    </db>

</config>
